*{
    padding: 0px;
    margin: 0px;
}


.logo{
    position: absolute;
    width: 73px;
    height: 23px;
    left: 148px;
    top: 29px;
    
    font-family: 'Slackey';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;    
    text-align: center;
    color: #000000;    
}

.menu{
    display: flex;
    position: absolute;
    width: 48px;
    height: 14px;
    left: 474px;
    top: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
    color: #000958;
}

a{
    text-decoration: none;
}

.menu a{
    margin-left: 20px;
}

.sign-up button{
    width: 54px;
    height: 14px;
    left: 1204px;
    top: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #000958;
    box-sizing: border-box;
    position: absolute;
    width: 117px;
    height: 50px;
    left: 1173px;
    top: 16px;
    opacity: 0.7;
    border: 1px solid #000958;
    border-radius: 5px;
}

.contenedor1{
    padding-top: 90px;
}

.contimg {
    display: flex;

}
.imagen2 img{
    margin-left: -250px;
    margin-top: 280px;
    border-radius: 30px;
    border: solid white 5px;
}
.imagen1 img{
    border-top-right-radius: 30px;
}

.star{
    margin-top: -70px;
    margin-left: -20px;
}

.titulo h1{
font-family: 'Slackey';
position: absolute;
width: 614px;
height: 195px;
left: 653px;
top: 140px;
font-family: 'Slackey';
font-style: normal;
font-weight: 400;
font-size: 55px;
line-height: 65px;
color: #000958;
}

.titulo p {
position: absolute;
width: 482px;
height: 60px;
left: 653px;
top: 369px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #656689;
}

.boton button {
position: absolute;
width: 142px;
height: 60px;
left: 653px;
top: 478px;
background: #FF5B2E;
box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
border-radius: 10px;
border: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
text-align: center;
color: #FFFFFF;
}

.boton {
    display: flex;
    
}

#img2, #img2, #img3, #img4{
    margin-left: -25px;
}

.elipseFinal{
    display: inline-flex;
    margin-left: -25px;
}

#img6 {
    margin-left: -50px;
    margin-top: 4px;
}

#mas7 {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 16px;
color: #FFFFFF;
margin-left: -34px;
margin-top: 22px;
}

.usuarios {
position: absolute;
left: 851px;
top: 477px;
box-sizing: border-box;
}

.inofi-elip {
    position: absolute;
    width: 100.72px;
    height: 100.72px;
    left: 1304.72px;
    top: 496px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

#elip19-1{
 position: relative;
 top: -97px;
 right: 7px;
}

#elip19-2{
    position: relative;
    top: -193px;
    right: 14px;
   }

.titulo-2{
    display: flex;
}

.titulo-2 h1 {
    position: absolute;
    width: 334px;
    height: 62px;
    left: 693px;
    top: 600px;
    font-family: 'Slackey';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #656689;
}

.titulo-2 img {
    position: absolute;
    width: 334px;
    height: 62px;
    left: 500px;
    top: 600px;
}
  
.aviso p{
    position: absolute;
    left: 687px;
    top: 630px;
    width: 300px;
    height: 42px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #656689; 
}

#huella {
    position: absolute;
    left: 132px;
    top: 646px;
}
